*
!*/

/.docker/**

!/etc/**
/etc/shadow*
/etc/gshadow*
/etc/crypttab*
/etc/ssl/certs/**
/etc/.pwd.lock
/etc/pacman.d/gnupg/**
/etc/ssh/*_key
/etc/ssh/*_key.pub
/etc/ssh/moduli
/etc/java-7-openjdk/*.bfc
/etc/ld.so.cache
/etc/ca-certificates/extracted/**
/etc/duckdns.d/*
/etc/docker/key.json
/etc/ipsec.d/cacerts/*
/etc/ipsec.d/certs/*
/etc/ipsec.d/private/*
/etc/ipsec.secrets
/etc/mtab
/etc/murmur.ini
/etc/openvpn/keys/**
/etc/ssh/moduli
/etc/ssl/cert.pem
/etc/tinc/icewootra/rsa_key.priv
/etc/trusted-key.key

!/home/icewootra/.*
!/home/icewootra/*.sh
!/home/icewootra/*.c
!/home/icewootra/*.cpp
!/home/icewootra/*.py
!/home/icewootra/*.pl
!/home/icewootra/build/**/PKGBUILD
!/home/icewootra/build/**/*.install
!/home/icewootra/build/**/*.patch
!/home/icewootra/build/**/*.diff
!/home/icewootra/.ghc/*.conf
!/home/icewootra/.config/**
/home/icewootra/.config/MonoDevelop*/*/
/home/icewootra/.config/MonoDevelop/
/home/icewootra/.config/VirtualBox/**
!/home/icewootra/.config/VirtualBox/*.xml
/home/icewootra/.config/ardour*/**
!/home/icewootra/.config/ardour*/*.rc
/home/icewootra/.config/Clementine/**
/home/icewootra/.config/chromium/**
/home/icewootra/.config/ipython/**/history.sqlite
/home/icewootra/.config/libreoffice/**
/home/icewootra/.config/menus/**
/home/icewootra/.config/pulse/**
/home/icewootra/.config/spotify/**
/home/icewootra/.config/stetic/**
/home/icewootra/.config/teamviewer*/**
/home/icewootra/.config/qBittorrent/qBittorrent-resume.conf
/home/icewootra/.rnd
/home/icewootra/.erlang.cookie
/home/icewootra/.esd_auth

!/root/.*
!/root/*.sh
!/root/*.c
!/root/*.cpp
!/root/*.py
!/root/*.pl
!/root/build/**/PKGBUILD
!/root/build/**/*.install
!/root/build/**/*.patch
!/root/build/**/*.diff
!/root/.config/**
/root/.config/MonoDevelop*/*/
/root/.config/MonoDevelop/
/root/.config/VirtualBox/**
!/root/.config/VirtualBox/*.xml
/root/.config/ardour*/**
!/root/.config/ardour*/*.rc
/root/.config/Clementine/**
/root/.config/chromium/**
/root/.config/ipython/**/history.sqlite
/root/.config/libreoffice/**
/root/.config/menus/**
/root/.config/pulse/**
/root/.config/spotify/**
/root/.config/stetic/**
/root/.config/teamviewer*/**
/root/.rnd
/root/.erlang.cookie

**/.config/fish/fish_history
/boot/grub/*.cfg

/usr/lib/modules
/var/lib/docker/*/subvolumes/**

.viminfo
*.p12
*.iso
*.bin
*.log
.pgpass
.Xauthority
.bash_history
.zsh_history
.scala_history
.lesshst
.recently-used
.pulse-cookie
.steampid
**/.gitignore
