# =====================================================================
# Example HVM guest configuration
# =====================================================================
#
# This is a fairly minimal example of what is required for an
# HVM guest. For a more complete guide see xl.cfg(5)

# This configures an HVM rather than PV guest
builder = "hvm"

# Guest name
name = "win10"

# 128-bit UUID for the domain as a hexadecimal number.
# Use "uuidgen" to generate one if required.
# The default behavior is to generate a new UUID each time the guest is started.
uuid = "5c840ea0-c03c-44ad-9519-e06ae0ba09c6"

# Enable Microsoft Hyper-V compatibile paravirtualisation /
# enlightenment interfaces. Turning this on can improve Windows guest
# performance and is therefore recommended
viridian = 1

# Initial memory allocation (MB)
memory = 4000

# Maximum memory (MB)
# If this is greater than `memory' then the slack will start ballooned
# (this assumes guest kernel support for ballooning)
#maxmem = 512

# Number of VCPUS
vcpus = 4

# Network devices
# A list of 'vifspec' entries as described in
# docs/misc/xl-network-configuration.markdown
vif = [ 'mac=00:16:3e:12:34:56,bridge=br0' ]

# Disk Devices
# A list of `diskspec' entries as described in
# docs/misc/xl-disk-configuration.txt
disk = [ 'phy:/home/icewootra/domU.img,xvda,rw', 'file:/home/icewootra/downloads/Win10_SingleLang_English_x64.iso,hdc:cdrom,r' ]

# Guest VGA console configuration, either SDL or VNC
sdl = 1
#vnc = 1
#vnclisten = '0.0.0.0'

# Enable PCI permissive mode
pci_permissive=1

# Enable VGA passthrough
gfx_passthru=0
pci=['01:00.0', '01:00.1']

# Use traditional qemu
device_model_version = "qemu-xen"
#device_model_version="qemu-xen-traditional"

# Use UEFI
#bios='ovmf'

# Use AHCI
hdtype='ahci'
