<?xml version="1.0" encoding="utf-8"?>
<AddinSystemConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Repositories>
    <Repository id="rep5">
      <IsReference>false</IsReference>
      <File>/home/icewootra/.config/MonoDevelop-4.0/repository-cache/addins.monodevelop.com_5.mrep</File>
      <Url>http://addins.monodevelop.com/Stable/Linux/4.2.2/main.mrep</Url>
      <Name>MonoDevelop Add-in Repository</Name>
      <LastModified>1900-01-01T00:00:00</LastModified>
    </Repository>
    <Repository id="rep6">
      <IsReference>false</IsReference>
      <File>/home/icewootra/.config/MonoDevelop-4.0/repository-cache/addins.monodevelop.com_6.mrep</File>
      <Url>http://addins.monodevelop.com/Beta/Linux/4.2.2/main.mrep</Url>
      <Name>MonoDevelop Add-in Repository (Beta channel)</Name>
      <LastModified>1900-01-01T00:00:00</LastModified>
    </Repository>
    <Repository id="rep7">
      <IsReference>false</IsReference>
      <File>/home/icewootra/.config/MonoDevelop-4.0/repository-cache/addins.monodevelop.com_7.mrep</File>
      <Url>http://addins.monodevelop.com/Alpha/Linux/4.2.2/main.mrep</Url>
      <Name>MonoDevelop Add-in Repository (Alpha channel)</Name>
      <LastModified>1900-01-01T00:00:00</LastModified>
      <Enabled>false</Enabled>
    </Repository>
    <Repository id="rep8">
      <IsReference>true</IsReference>
      <File>/home/icewootra/.config/MonoDevelop-4.0/repository-cache/addins.monodevelop.com_8.mrep</File>
      <Url>http://addins.monodevelop.com/Stable/Linux/4.2.2/root.mrep</Url>
      <Name>MonoDevelop Add-in Repository</Name>
      <LastModified>2014-06-04T19:04:58+02:00</LastModified>
    </Repository>
    <Repository id="rep9">
      <IsReference>true</IsReference>
      <File>/home/icewootra/.config/MonoDevelop-4.0/repository-cache/addins.monodevelop.com_9.mrep</File>
      <Url>http://addins.monodevelop.com/Beta/Linux/4.2.2/root.mrep</Url>
      <Name>MonoDevelop Add-in Repository (Beta channel)</Name>
      <LastModified>2014-06-04T19:04:57+02:00</LastModified>
    </Repository>
  </Repositories>
  <RepositoryIdCount>10</RepositoryIdCount>
  <DisabledAddins />
  <AddinPaths />
</AddinSystemConfiguration>